.dashboard-container {
  padding: 30px;
  text-align: center;

  h2 {
    color: var(--text-100);
    margin-bottom: 12px;
    font-weight: 600;
  }

  p {
    font-size: 16px;
    color: var(--text-300);
  }
}
